* {
	margin: 0;
	height: 100%;
}

html {
	height: 100%; 
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
	height: 100%;  
	width: 100%;
	font-size: 1em; 
	background-color: white;
}


#header-img-container {
	background-image: url(images/hero.jpg);
	height: 100%;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;
	background-attachment: fixed;
	/* border: solid black 2px; */
}


.header-inner-container {
	text-align: center; 
	width: 100%;
	height: auto;
	position: absolute;
}

#hero-text {
	margin-top: 20vh;
}

#herotitlepng {
	height: auto;
	max-width: 60%;
}


h2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.6em;
	font-weight: 400;
	letter-spacing: 2px;
	color: black;
	background-color: #fff3;
	padding-top: 30%; 
	text-shadow:  -1px -1px 2px white, 2px 1px 2px white; 
}


@media only screen and (max-width: 600px) {
	#hero-text {
		margin-top: 100px;
	}

	h2{
		font-size: 1.4em;
	}

}













